/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
body {
  background: #050505;
  overflow: hidden;
} 

.panorama-slider-gsap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panorama-slider-gsap__container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 2000px;
}

#ring {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.panorama-slider-gsap__slide {
  position: absolute;
  width: 800px;
  height: 500px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor: grab;
}

.panorama-slider-gsap__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}

.panorama-slider-gsap__arrow {
  position: absolute;
  bottom: 12%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.panorama-slider-gsap__arrow i {
  color: #333;
  font-size: 20px;
}

.panorama-slider-gsap__arrow:hover {
  background: white;
  transform: translateY(-50%) scale(1.1);
}

.panorama-slider-gsap__arrow--prev {
  left: 20px;
}

.panorama-slider-gsap__arrow--next {
  right: 20px;
}